# User pages :)
<IfModule mod_rewrite.c>
    RewriteEngine on 
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d

	RewriteRule ^users/([0-9]+)/profile$ /users/profile.php?id=$1		  [END]

	RewriteRule ^users/([0-9]+)$  /users/profile.php?id=$1&redirect=true  [END]
	RewriteRule ^users/([0-9]+)/$ /users/profile.php?id=$1&redirect=true  [END]

	RewriteRule ^asset/?$ /core/utilities/assetdeliverer.php			  [END]
	RewriteRule ^Asset/?$ /core/utilities/assetdeliverer.php 			  [END]
	
	RewriteRule ^IDE/Landing.aspx$ /IDE/Landing.aspx.php				  [END]

	RewriteRule ^Login/Negotiate.ashx$ /core/authentication/negotiate.php [END]
	
	RewriteRule ^Game/PlaceSpecificScript.ashx$ /core/gamescripts/placespecificscript.php   [END]
	RewriteRule ^Game/LoadPlaceInfo.ashx$ /core/gamescripts/loadplaceinfo.php   [END]
	RewriteRule ^game/gameserver.ashx$ /core/gamescripts/gameserver.php	  [END]
	RewriteRule ^game/host.ashx$ /core/gamescripts/host.php	  [END]
	RewriteRule ^game/join.ashx$ /core/gamescripts/join.php				  [END]
	RewriteRule ^game/studio.ashx$ /core/gamescripts/studio.php			  [END]
	RewriteRule ^game/visit.ashx$ /core/gamescripts/visit.php 			  [END]

	RewriteRule ^Game/gameserver.ashx$ /core/gamescripts/gameserver.php   [END] # Only exists bc of windows!
	RewriteRule ^Game/host.ashx$ /core/gamescripts/host.php   [END] # Only exists bc of windows!
	
	RewriteRule ^Game/join.ashx$ /core/gamescripts/join.php				  [END] # Only exists bc of windows!
	RewriteRule ^Game/studio.ashx$ /core/gamescripts/studio.php			  [END] # Only exists bc of windows!
	RewriteRule ^Game/visit.ashx$ /core/gamescripts/visit.php			  [END] # Only exists bc of windows!
	
	RewriteRule ^login$ login.php										  [END]
	RewriteRule ^Login$ login.php										  [END]
	RewriteRule ^register$ register.php									  [END]
	RewriteRule ^people$ people.php										  [END]

	RewriteRule ^my/home$ /my/home.php									  [END]
	RewriteRule ^my/profile$ /my/profile.php							  [END]

	RewriteRule ^api/feeds$ /api/feeds.php								  [END]
	RewriteRule ^api/logout$ /api/logout.php							  [END]
	RewriteRule ^api/user$ /api/user.php							  [END]

	RewriteRule ^game/maingameserver.ashx$ /core/gamescripts/coregameserver.php [END]
	RewriteRule ^Game/maingameserver.ashx$ /core/gamescripts/coregameserver.php [END]

	RewriteRule ^Game/Tools/InsertAsset.ashx$ /core/insertasset.php [END]

	RewriteRule ^Friend/AreFriends$ /Friend/AreFriends.php [END]

	RewriteRule ^core(/.*)?$ /core/error/404.php [END]
	RewriteRule ^api(/.*)?$ /core/error/404.php  [END]
</IfModule>

DirectoryIndex index.php index.html Default.aspx Default.aspx.php
ErrorDocument 404 /core/error/404.php

AddType text/x-component .htc