#IntroductionBox {
	width: 500px;
}

#IntroductionBox h2 {
	margin-bottom: 8px;
}

#IntroductionBox h3 {
	margin-bottom: 0px;
	margin-top: 0px;
	margin-left: 10px;
	font-size: 16px;
}

#IntroductionBox p {
	margin-left: 15px;
	margin-top: 5px;
	margin-bottom: 10px;
}

#ShowcaseContainer {
	margin-top: -230px;
	float: right;
}

#ShowcaseContainer h3 {
	margin: 0;
}

#ShowcaseBox {
	border: 2px solid black;
	background: #282828;
	width: 355px;
	padding: 10px;
}

#ShowcaseBox #Showcase {
	width: 327px;
	height: 184px;
	background: #1a1919;
	border: 2px solid #090909;
	margin: 0 auto; 
	display:block;
	object-fit: contain;
}

#ShowcaseBox #Carousel {
	border: 2px solid #090909;
	border-top: none;
	margin: 0 auto;
	width:fit-content;
	width:initial\9;
	height:42px;
	text-align: center;
	background: #171717;
	
}

#ShowcaseBox #Carousel img {
	display:inline;
	width:42px;
	height:42px;
	object-fit: cover;
	cursor: pointer;
	background: #444;
	border: 1px solid black;	
}

#ShowcaseBox #Carousel img:hover {
	filter: brightness(1.15);
	border: 1px solid white;
}

#ShowcaseBox #Carousel img.selected {
	filter: brightness(1.5);
	border: 1px solid gray;
}

#ShowcaseBox #Carousel img.selected:hover {
	border: 1px solid white
}

#NewUsersContainer {
	margin-top: -35px;
}

#NewUsersContainer h3 {
	margin-bottom: 0px;
	margin-left: 15px;
	width: 110px;
}

#NewUsersContainer #NewUsersBox {
	border: 2px solid #090909;
	margin: 0 auto;
	background: #171717;
	padding: 10px;
	padding-left: 15px;
	width: 100%;
	overflow: hidden;
	display: block;
}

#NewUsersContainer #NewUsersBox tr {
	display: inline-block;
	animation-name: moveSlideshow;
	animation-duration: 25s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

#NewUsersContainer #NewUsersBox tr#Other {
	margin-top: -172px;
	animation-name: moveSlideshowEvil;
}

@keyframes moveSlideshow {
  0% {
      transform: translateX(0%);
  }
  100% {
      transform: translateX(-100%);
  }
}

@keyframes moveSlideshowEvil {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0%);
  }
}  

#NewUsersContainer #NewUsersBox .User {
	border: 2px solid #090909;
	background: #282828;
	width: 104px;
	display:inline-block;
	padding: 5px;
	text-align: center;
	margin-right: 5px;
	vertical-align: middle;
}

#NewUsersContainer #NewUsersBox .User img {
	width: 100px;
	border: 2px solid #090909;
	background: #1a1919;
}

#NewUsersContainer #NewUsersBox .User span {
	width: 100px;
	display: block;
	font-family: punk;
	font-weight: bold;
	word-break: break-all;
	margin: 0 auto;
	height: 28px;
}

#PopularGamesContainer h3 {
	margin-bottom: 0px;
	margin-left: 15px;
	width: 150px;
}

#PopularGamesContainer	#PopularGamesBox {
	border: 2px solid #090909;
	margin: 0 auto;
	background: #171717;
	padding: 10px;
	padding-left: 15px;
	width: 100%;
}

.PopularGame img {
	width: 300px;
	height: 169px;
	border: 2px solid #090909;
}

.PopularGame #Play {
	width: 212px;
	height: 54px;
	background: url("/images/buttons/play.png");
	display: inline-block;
}

.PopularGame #Play:hover {
	background-position: 0 54px;
}

.PopularGame #ShowcaseBigImages {
	display: table-cell;
	vertical-align: top;
	width:304px;
	text-align:center;
}

.PopularGame #ShowcaseBigImages img {
	background:	#282828
}

.PopularGame #ShowcaseDetails {
	display: table-cell;
	vertical-align: top;

	width: 282px;
	height: 225px;
}

.PopularGame #ShowcaseDetails #NameAndCreator {
	margin-left: 0px;
	margin-top: 0px;
	font-size:15px;
	width: 270px;
	background: black;
	font-family: punk;
	font-weight: bold;
	padding: 5px;
	padding-left: 15px;
	padding-top: 10px;
}

.PopularGame #ShowcaseDetails #NameAndCreator a {
	display: block;
	color: white;
}

.PopularGame #ShowcaseDetails #NameAndCreator #Creator {
	font-size: 11px;
}

.PopularGame #ShowcaseDetails code {
	border: 2px solid black;
	padding: 10px;
	background: #282828;
	height: 175px;
	display: block;
	width: 266px;
}

#PopularGames {
	text-align: center;margin-left: 10px;height: 195px;overflow: hidden;
	background: #0f0f0f;
	
}

#PopularGames img {
	width: 227px;height: 128px;
}